{% extends "bulletin/base.html" %}

{% load bootstrap3 %}

{% block content %}
  <div class="row col-md-12">
    <form method='post' action='.'>
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class='form-actions'>
        <button type='submit'
                id='submit_button'
                class='btn btn-primary'>
          save
        </button>
        <a href="{% url "bulletin:issue-template-section-template-list" issue_template.id %}"
           class="btn btn-default">
          sections
        </a>
      </div>
    </form>
  </div>
{% endblock %}
