{% extends "bulletin/base.html" %}

{% load bootstrap3 %}

{% block content %}
  <div class="row col-md-12">
    <div class="row margin-bottom-30">
      <div class="col-md-1">
      </div>
      <div class="col-md-11">
        <h2>
          Subscribe to {{ newsletter.name }}
        </h2>
      </div>
    </div>

    <div class="row margin-bottom-30">
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <form method="post"
              action=".">
          {% csrf_token %}
          <div class="input-group">
            {{ form }}
            <span class="input-group-btn">
              <button class="btn-u" type="submit">Subscribe</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
