{% extends "newsletter/newsletter_list.html" %}

{% load bootstrap3 %}

{% block content %}
  <div class="row col-md-12">
    <form method='post' action='.'>
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class='form-actions'>
        <button
          type='submit'
          id='submit_button'
          class='btn btn-primary'>
          Save
        </button>
        <a href="{% url "newsletter:newsletter-issue-list" object.id %}"
           class="btn btn-default">
          Issues
        </a>
        <a href="{% url "newsletter:newsletter-issue-template-list" object.id %}"
           class="btn btn-default">
          Issue Templates
        </a>
      </div>
    </form>
  </div>
{% endblock %}
