{% load bootstrap3 %}

{% block content %}
  <div class="panel-group" id="object-accordion-{{ object.id }}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#object-accordion"
             href="#collapseObject{{ object.id }}">
            {{ object.title }}
          </a>
        </h4>
      </div>
      <div id="collapseObject{{ object.id }}"
           class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            {{ object.body }}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
