{% extends "bulletin/base.html" %}
{% load static from staticfiles %}

{% block extra_head %}
  {{ block.super }}
  <script type="text/javascript"
          src="{% static 'vendor/selectize/js/standalone/selectize.js' %}">
  </script>
  <script type="text/javascript"
          src="{% static 'assets/js/post-form.js' %}"></script>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet"
        href="{% static 'vendor/selectize/css/selectize.css' %}"/>
  <style>
   .required-input label:after {
     content:" *";
     display:inline; }

   .selectize-input .item.active {
     background-color: #0080CF !important;
     color: white !important; }
  </style>
{% endblock %}
