{% extends "newsletter/section_update.html" %}

{% load bootstrap3 %}

{% block content %}
  <div class="row col-md-12">
    <ul>
      {% for post in object_list %}
        <li>
          <a href="{% url "newsletter:post-update" post.id %}?next={{ request.get_full_path }}">
            {{ post.title }}
          </a>
          <a href="{% url "newsletter:section-post-remove" section.id post.id %}">
            {% bootstrap_icon "remove" %}
          </a>
        </li>
      {% empty %}
        No posts for this issue.
      {% endfor %}
    </ul>
    <div class='form-actions'>
      <a href="{% url "newsletter:section-post-add" section.id %}"
         class="btn btn-default">
        {% bootstrap_icon "plus" %}
        Add Post
      </a>
    </div>
  </div>
{% endblock %}

{% block end_of_body %}
  <script "text/javascript">
    // Store and restore the state of all collapsable widgets:
    $(document).ready(function() {
      $('.collapse').on('hidden.bs.collapse', function() {
        if (this.id) {
         localStorage.removeItem(this.id);
        }
     }).on('shown.bs.collapse', function() {
        if (this.id) {
         localStorage[this.id] = 'hide';
        }
     }).each(funtcion() {
        if (this.id && localStorage[this.id] === 'hide' ) {
          $(this).collapse('hide');
        }
      });
    });
  </script>
{% endblock %}
