{% extends 'base.html' %}

{% load bootstrap3 %}
{% load bootstrap_pagination %}

{% block content %}

  <div class="row">
    <div class="col-sm-3">
      <div class="row headline">
        <h2>
          {% if request.GET.q %}
            Search Results
          {% else %}
            Search
          {% endif %}
        </h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="well col-md-9 pull-right">
      <form method="GET"
            action="{% url "bulletin:haystack_search" %}">
        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <input type="text" class="form-control" name="q" id="id_q"
                     value="{{ request.GET.q }}" />
              <span class="input-group-btn">
                <button class="btn" type="submit">
                  <span style="font-size: 11px">
                    <span class="glyphicon glyphicon-search"></span>
                    <span style="text-transform: uppercase">
                      Search
                    </span>
                  </span>
                </button>
              </span>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <div style="text-transform: uppercase" class="inline-group">
              Search Only: &nbsp;
              <input id="id_models_0" name="models" type="checkbox"
                     value="plugins.event" />
              Events &nbsp; &nbsp;
              <input id="id_models_1" name="models" type="checkbox"
                     value="plugins.job" />
              Jobs &nbsp; &nbsp;
              <input id="id_models_4" name="models" type="checkbox"
                     value="plugins.story" />
              News &nbsp; &nbsp;
              <input id="id_models_3" name="models" type="checkbox"
                     value="plugins.opportunity" />
              Opportunities &nbsp; &nbsp;
              <input id="id_models_2" name="models" type="checkbox"
                     value="plugins.newresource" />
              Resources
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% if query %}
    {% for result in page.object_list %}
      {% if result.object.url %}  {% comment %} Skip Posts with no URL. {% endcomment %}
        {% if result.content_type = 'plugins.story' %}
          {% with result.object as story %}
            <div class="row blog blog-medium">
              <div class="col-sm-3 text-right">
              </div>
              <div class="col-sm-9">
                <h5>
                  NEWS
                </h5>
              </div>
            </div>
            {% include "plugins/story.html" %}
          {% endwith %}
        {% elif result.content_type = 'plugins.event' %}
          {% with result.object as event %}
            <div class="row blog blog-medium">
              <div class="col-sm-3 text-right">
              </div>
              <div class="col-sm-9">
                <h5>
                  EVENT
                </h5>
              </div>
            </div>
            {% include "plugins/event.html" %}
          {% endwith %}
        {% elif result.content_type = 'plugins.job' %}
          {% with result.object as job %}
            <div class="row blog blog-medium">
              <div class="col-sm-3 text-right">
              </div>
              <div class="col-sm-9">
                <h5>
                  JOB
                </h5>
              </div>
            </div>
            {% include "plugins/job.html" %}
          {% endwith %}
        {% elif result.content_type = 'plugins.newresource' %}
          {% with result.object as new_resource %}
            <div class="row blog blog-medium">
              <div class="col-sm-3 text-right">
              </div>
              <div class="col-sm-9">
                <h5>
                  RESOURCE
                </h5>
              </div>
            </div>
            {% include "plugins/new_resource.html" %}
          {% endwith %}
        {% elif result.content_type = 'plugins.opportunity' %}
          {% with result.object as opportunity %}
            <div class="row blog blog-medium">
              <div class="col-sm-3 text-right">
              </div>
              <div class="col-sm-9">
                <h5>
                  OPPORTUNITY
                </h5>
              </div>
            </div>
            {% include "plugins/opportunity.html" %}
          {% endwith %}
        {% endif %}
      {% endif %}
    {% empty %}
      <div class="row blog blog-medium">
        <div class="col-sm-3 text-right">
        </div>
        <div class="col-sm-9 well">
          No results found.
        </div>
      </div>
    {% endfor %}

    <!--Pagination-->
    {% if page.has_previous or page.has_next %}
      <div class="text-center">
        {% bootstrap_paginate page range=10 show_first_last="true" %}
      </div>
    {% endif %}
    <!--End Pagination-->

  {% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}
{% endblock %}

{% block end_of_body %}
  <script type="text/javascript">
   // Load initial checkbox state from query string:
   $(document).ready(function () {
     $("input[type=checkbox]").each(function () {
       this.checked = new RegExp("(\\?|&)" + this.name + "=" + this.value).
                                 test(document.location.search);
     });
   });
  </script>
{% endblock %}
