{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}

  <div class="row blog blog-medium">
    <div class="col-sm-3 text-right">
      <div class="headline">
        <h2>
          Search Results
        </h2>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="panel-group acc-v1" id="accordion-1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed"
                 data-toggle="collapse" data-parent="#accordion-1"
                 href="#collapse-One">
                Advanced Search
              </a>
            </h4>
          </div>
          <!-- To open the accordion, add `in=in` to your query string -->
          <div id="collapse-One"
               class="panel-collapse collapse {{ request.GET.in }}">
            <div class="panel-body">
              <form method="GET"
                    action="{% url "bulletin:haystack_search" %}">
                <div class="row">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="hidden" name="in"
                             value="in" />
                      <input type="text" class="form-control" name="q" id="id_q"
                             value="{{ request.GET.q }}" />
                      <span class="input-group-btn">
                        <button class="btn" type="submit">
                          <span style="font-size: 11px">
                            <span class="glyphicon glyphicon-search"></span>
                            <span style="text-transform: uppercase">
                              Search
                            </span>
                          </span>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-12">
                    <div style="text-transform: uppercase" class="inline-group">
                      Search Only:
                      <input id="id_models_0" name="models" type="checkbox"
                             value="plugins.event" />
                      Events
                      <input id="id_models_1" name="models" type="checkbox"
                             value="plugins.job" />
                      Jobs
                      <input id="id_models_4" name="models" type="checkbox"
                             value="plugins.story" />
                      News
                      <input id="id_models_3" name="models" type="checkbox"
                             value="plugins.opportunity" />
                      Opportunities
                      <input id="id_models_2" name="models" type="checkbox"
                             value="plugins.newresource" />
                      Resources
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if query %}
    {% for result in page.object_list %}
      {% if result.object.url %}  {% comment %} Skip Posts with no URL. {% endcomment %}
        {% if result.content_type = 'plugins.story' %}
          {% with result.object as story %}
            <div class="row blog blog-medium">
              <div class="col-sm-3 text-right">
              </div>
              <div class="col-sm-9">
                <h5>
                  NEWS
                </h5>
              </div>
            </div>
            {% include "plugins/story.html" %}
          {% endwith %}
        {% elif result.content_type = 'plugins.event' %}
          {% with result.object as event %}
            <div class="row blog blog-medium">
              <div class="col-sm-3 text-right">
              </div>
              <div class="col-sm-9">
                <h5>
                  EVENT
                </h5>
              </div>
            </div>
            {% include "plugins/event.html" %}
          {% endwith %}
        {% elif result.content_type = 'plugins.job' %}
          {% with result.object as job %}
            <div class="row blog blog-medium">
              <div class="col-sm-3 text-right">
              </div>
              <div class="col-sm-9">
                <h5>
                  JOB
                </h5>
              </div>
            </div>
            {% include "plugins/job.html" %}
          {% endwith %}
        {% elif result.content_type = 'plugins.newresource' %}
          {% with result.object as new_resource %}
            <div class="row blog blog-medium">
              <div class="col-sm-3 text-right">
              </div>
              <div class="col-sm-9">
                <h5>
                  RESOURCE
                </h5>
              </div>
            </div>
            {% include "plugins/new_resource.html" %}
          {% endwith %}
        {% elif result.content_type = 'plugins.opportunity' %}
          {% with result.object as opportunity %}
            <div class="row blog blog-medium">
              <div class="col-sm-3 text-right">
              </div>
              <div class="col-sm-9">
                <h5>
                  OPPORTUNITY
                </h5>
              </div>
            </div>
            {% include "plugins/opportunity.html" %}
          {% endwith %}
        {% endif %}
      {% endif %}
    {% empty %}
        <p>No results found.</p>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
      <div>
        {% if page.has_previous %}
          <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
        {% endif %}
        &laquo; Previous
        {% if page.has_previous %}
          </a>
        {% endif %}
        |
        {% if page.has_next %}
          <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
        {% endif %}
        Next &raquo;
        {% if page.has_next %}
          </a>
        {% endif %}
      </div>
    {% endif %}
  {% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}
{% endblock %}
